@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');

body {
  margin: 10px;
  font-family: 'Inconsolata', monospace;
}

a {
  color: pink;
  text-decoration: none;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  height: auto;
}

#menu li {
  height: 70px;
  line-height: 70px;
}

.grid {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.menu ol {
  border-right: 1px solid gray;
  font-size: 35px;
  margin: 0px;
  padding: 30px;
  color: pink;
}

.menu li {
  padding: 20px 0;
  text-align: center;
}

.menu div {
  font-size: 20px;
}

#wrapper {
  color: pink;
  font-size: 25px;
  padding-left: 10px;
  list-style: none;
  line-height: 60px;
  text-align: center;
}

a:hover {
  color: gray;
  transition: gray;
}

h1 {
  border: 2px solid gray;
  color: gray;
  text-align: center;
}

img {
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

#pad {
  padding: 10px;
}

@media (max-width:800px) {
  #menu {
    display: block;
  }

  ol {
    text-align: center;
    line-height: 30px;
    border-right: none;
  }

  h1 {
    border: none;
  }
}