<style>
  body{

  }
  a{
    text-decoration: none;
    color: pink;
  }
  div{
    text-align: center;
    font-family : Consolas;
    font-weigh : bold;
    padding : 10px;
    font-size : 30px;
  }
  a:hover{
    color: gray;
    transition: pink;
  }
  li {
    list-style : none;
    line-height : 300%;
  }
  h1{
    text-align: center;
    border : 2px solid gray;
    color: gray;
  }
  @media (max-width:800px){
    div{
      display: block;
    }
    ol{
      border-right: none;
    }
    h1{
    border: none;
    }
  }
</style>
